@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
  :root {
    font-size: 14px;
    @apply text-black antialiased;
  }

  h4 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
  }

  p,
  span,
  button,
  div {
    line-height: 22px;
  }

  .small {
    font-size: 12px;
  }
}

@layer components {
  .blackcard {
    @apply bg-black p-10 m-10 rounded-xl;
  }
  .whitecard {
    @apply bg-snow p-10 m-10 rounded-xl;
  }
}
